<!-- Search bar -->
<div class="search-bar-container">
  <mat-form-field appearance="fill" id="data-table-search" class="search-bar" color="primary">
    <mat-label>Digite aqui para pesquisar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input cdkFocusInitial>
    <mat-icon matSuffix color="primary" class="search-icon">search</mat-icon>
  </mat-form-field>
</div>

<!-- Table -->
<div style="overflow-x: auto; max-width: 100%;">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows style="overflow-x:auto;">
    <!-- Column Config -->
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <ng-container *ngIf="column === 'actions'; else normalColumn">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let action of actions">
            <ng-container *ngIf="!action.condition || action.condition(element)">
              <button color="primary" mat-button (click)="onAction.emit({ action: action.name, element: element })" [matTooltip]="action.label">
                <mat-icon *ngIf="action.icon" [ngStyle]="{ 'color': action.color ? action.color : '#3f51b5' }">{{action.icon}}</mat-icon>
                <ng-container *ngIf="!action.icon">
                  <div [ngStyle]="{ 'color': action.color ? action.color : '#3f51b5' }">{{action.label}}</div>
                </ng-container>
              </button>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <ng-template #normalColumn>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ columnNames[column] }}
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="isBoolean(element[column]); else normalValue">
            {{ element[column] ? 'check_circle_outline' : 'highlight_off' }}
          </mat-icon>
          <ng-template #normalValue>{{ element[column] }}</ng-template>
        </td>
      </ng-template>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
          [@detailExpand]="(element == expandedElement) ? 'expanded' : 'collapsed'">

          <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: (element)}">
          </ng-template>

        </div>
      </td>
    </ng-container>


    <!-- Row config -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : !templateRef ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Nenhum item correspondente à pesquisa "{{input.value}}" foi encontrado.
      </td>
    </tr>

  </table>
</div>

<!-- Paginator -->
<mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>