.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.grid-item {
  justify-self: center;
  overflow: hidden;
  width: 80%;
  min-height: 50px;
}
