<p class="home-title">Simplifica Unicamp</p>

<div class="card-separator"></div>

<div class="home-content">
  <div class="logo">
    <img src="assets/images/desburocratize_logo.jpg">
  </div>

  <p class="descricao">
    Ao utilizar algum serviço da universidade, podemos nos deparar com exigências que acabam por complicar o que
    esperávamos ser simples e rápido. A partir de agora, sempre que você se deparar com esta situação, basta enviar sua
    sugestão para desburocratizar este serviço por meio do Simplifica.
  </p>
</div>

<div class="home-solicitation">
  <button mat-raised-button type="button" color="primary" routerLink="/solicitations/new">Crie uma
    solicitação!</button>
</div>
