.user-main-info, .user-permissions {
  margin: 0 0 16px;
}

.user-profile-image {
  margin-right: 16px;
  max-width: 300px;
  height: 300px;
}

.user-profile-image img {
  max-width: 300px;
  max-height: 300px;
}

.permissions-title {
  font-size: 24px;
  font-weight: 500;
  padding-top: 16px;
}
