<div class="card-header">
    <mat-card-title>Solicitações</mat-card-title>
    <a mat-raised-button class="card-header-actions" color="primary" routerLink="/solicitations/new">Nova solicitação</a>
</div>

<ng-container *ngIf="solicitations$ | async as solicitations">
    <app-data-table [data]="solicitations" [columnNames]="columnNames">
        <!-- Inner table component when a row is clicked -->
        <ng-template let-item>
            {{item | json}}
        </ng-template>
    </app-data-table>
</ng-container>
