<div class="card-header">
  <mat-card-title>{{ authService.user ? 'Cadastrar usuário' : 'Registrar' }}</mat-card-title>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Escreva seu nome completo" formControlName='name'>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Orgão de origem</mat-label>
      <input matInput placeholder="Orgão da Unicamp que você faz parte" formControlName='origin'>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="exemplo@exemplo.com" formControlName='email'>
      <mat-error *ngIf="form.controls.email.invalid">Email inválido</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input [type]="hidePassword? 'password': 'text'" matInput placeholder="******" formControlName='password'>
      <mat-button-toggle matSuffix>
        <mat-icon (click)="hidePassword = !hidePassword" style="margin: 0 -12px;">
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-button-toggle>
      <mat-error *ngIf="form.controls.password.invalid">A senha deve ter pelo menos 6 caracteres</mat-error>
    </mat-form-field>
  </p>
  <div class="form-footer">
    <div class="error-area">
      {{ errorMsg }}
    </div>
    <div class="action-area">
      <div class="cancel-button" *ngIf="authService.user">
        <button mat-raised-button type="button" [routerLink]="['../list']">
          Cancelar
        </button>
      </div>
      <div class="cancel-button" *ngIf="!authService.user">
        <button mat-raised-button type="button" [routerLink]="['/login']">
          Já tenho conta!
        </button>
      </div>
      <div class="submit-button">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
          Registrar
        </button>
      </div>
    </div>
  </div>
</form>
