<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Escreva seu nome completo" formControlName='name'>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="exemplo@exemplo.com" formControlName='email'>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input [type]="hidePassword? 'password': 'text'" matInput placeholder="******" formControlName='password'>
            <mat-button-toggle matSuffix>
                <mat-icon (click)="hidePassword = !hidePassword" style="margin: 0 -12px;">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>

            </mat-button-toggle>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
            Login
        </button>
    </p>
</form>