.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill);
}

.grid-item {
  max-width: 960px;
  margin: 0 auto;
}
