<div class="card-header">
  <mat-card-title>
    Cadastrar formulário
  </mat-card-title>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <p>
    <!-- Título do formulário -->
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput required formControlName='name'>
    </mat-form-field>
  </p>
  <p>
    <!-- Descrição do formulário -->
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName='description'></textarea>
    </mat-form-field>
  </p>
  <p>
    <!-- "Is template?" checkbox -->
    <mat-checkbox color="primary" formControlName='is_template'>
      É um formulário padrão que será sugerido ao usuário ao criar alguma solicitação
    </mat-checkbox>
  </p>
  <p>
    <ng-container formArrayName="form_questions">
      <!-- Questions list -->
      <div style="width: 100%;" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

        <!-- Question Item -->
        <div class="example-box" *ngFor="let item of formArr.controls; index as i" cdkDrag>
          <ng-container *ngIf="item.value?.question as question" [formGroupName]="i">

            <!-- Drag/drop handle -->
            <div class="example-custom-placeholder" *cdkDragPlaceholder> </div>
            <div *ngIf="isMobile" class="example-handle" cdkDragHandle>
              <svg width="32px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                </path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>

            <!-- "Is required?" checkbox -->
            <mat-checkbox color="primary" formControlName='required' [labelPosition]="'before'">
              É obrigatório?
            </mat-checkbox>

            <mat-divider vertical style="height: 24px; margin: 0 16px"></mat-divider>

            <!-- Question -->
            <div>{{i+1}}) {{question?.text}} </div>

            <mat-divider vertical style="height: 24px; margin: 0 16px"></mat-divider>

            <!-- Response type -->
            <div>
              ({{question?.response_type?.name}})
            </div>

            <!-- Button to remove question -->
            <button mat-flat-button class="remove-button" type="button" color="warn" (click)="removeControl(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </div>

        <!-- Show this message when no question is selected -->
        <div *ngIf="formArr.length == 0" class="list-message">
          Sem nenhuma pergunta. Adicione clicando no botão abaixo!
        </div>
        <div class="add-button">
          <!-- Add Questions to the form -->
          <button mat-stroked-button color="primary" type="button" (click)="openAddQuestionDialog()">
            <mat-icon color="primary">playlist_add</mat-icon>
            Perguntas
          </button>
        </div>

      </div>


    </ng-container>
  </p>
  <div class="form-footer">
    <div class="action-area">
      <div class="cancel-button">
        <button mat-raised-button type="button" [routerLink]="['../list']">
          Cancelar
        </button>
      </div>
      <div class="submit-button">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
          Criar formulário
        </button>
      </div>
    </div>
  </div>
</form>
