<div class="card-header">
  <mat-card-title>Solicitações</mat-card-title>
  <a mat-raised-button class="card-header-actions" color="primary" routerLink="/solicitations/new">Nova solicitação</a>
</div>

<mat-tab-group animationDuration="0ms">
  <mat-tab *ngIf="areUnassignedVisible" label="Solicitações não atribuídas a ninguém">
    <ng-container *ngIf="unassignedSolicitations$ | async as unassignedSolicitations">
      <app-solicitations-list [solicitations]="unassignedSolicitations"></app-solicitations-list>
    </ng-container>
  </mat-tab>

  <mat-tab *ngIf="areManagedVisible" label="Solicitações atribuídas a mim">
    <ng-container *ngIf="solicitationsManagedByUser$ | async as solicitationsManagedByUser">
      <app-solicitations-list [solicitations]="solicitationsManagedByUser"></app-solicitations-list>
    </ng-container>
  </mat-tab>

  <mat-tab *ngIf="areSubmittedVisible" label="Minhas solicitações">
    <ng-container *ngIf="solicitationsSubmittedByUser$ | async as solicitationsSubmittedByUser">
      <app-solicitations-list [solicitations]="solicitationsSubmittedByUser"></app-solicitations-list>
    </ng-container>
  </mat-tab>
</mat-tab-group>