<div class="card-header">
  <mat-card-title>Tipos de resposta</mat-card-title>
  <a mat-raised-button class="card-header-actions" color="primary" routerLink="/forms/response-types/new">Novo tipo de resposta</a>
</div>

<div class="response-types-list">
  <div class="response-type" *ngFor="let item of responseTypes$ | async">
    <mat-card>
      <mat-card-title matLine>{{ item.name }}</mat-card-title>
      <p matLine><strong>Tipo:</strong> {{ item.basic_type }}</p>
      <p matLine><strong>Valor mínimo:</strong> {{ item.min }}</p>
      <p matLine><strong>Valor máximo:</strong> {{ item.max }}</p>
      <p matLine><strong>Criado em:</strong> {{ item.created_at }}</p>
      <p matLine><strong>Atualizado em:</strong> {{ item.updated_at }}</p>
    </mat-card>
  </div>
</div>
