.question-content ::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: rgba(0, 0, 0, .26);
}

.question-title {
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 18px;
}

.question-description {
  color: #777777;
  font-size: 14px;
}

.question-separator {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin: 8px 0;
}
