<div class="card-header">
  <mat-card-title>
    <ng-container *ngIf="form$ | async as form; else pageName">
      {{ form.name }}
    </ng-container>
    <ng-template #pageName>
      Solicitação
    </ng-template>
  </mat-card-title>
</div>


<div class="select-form" *ngIf="!( formId$ | async )">
  <h3>Qual tipo de solicitação deseja criar?</h3>
  
  <!-- List of submission forms -->
  <div class="card-grid-container">
    <mat-card *ngFor="let item of forms$ | async" class="form-select-list-item">
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-content class="form-select-item-content">
        <p>{{ item.description }}</p>
      </mat-card-content>
      <div class="card-separator"></div>
      <mat-card-actions align="end">
        <button mat-stroked-button color="primary" (click)="selectForm(item.id)">Preencher</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Fill submission form -->
<ng-container *ngIf="form$ | async as form">
  <app-form-fill [formType]="form" (formData)="onSubmit($event)" (onCancel)="onCancelFormFill()"></app-form-fill>
</ng-container>