<p *ngIf="!(formId$|async)">Selecione um formulário para criar a sua solicitação:</p>

<!-- List of submission forms -->
<div class="card-grid-container">
    <mat-card *ngFor="let item of forms$ | async" (click)="selectForm(item.id)">
        {{item.name}}
    </mat-card>
</div>

<!-- Fill submission form -->
<div style="max-width: 700px;" *ngIf="form$ | async as form">
    <p>Formulário selecionado: {{form.name}}</p>
    <app-form-fill [formType]="form" (formData)="onSubmit($event)"></app-form-fill>
</div>