.card-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.card-grid-container > mat-card {
  justify-self: center;
  overflow: hidden;
  width: 90%;
  min-height: 50px;
}

.form-select-list-item {
  display: flex;
  flex-direction: column;
}

.form-select-item-content {
  flex-grow: 1;
}