<div class="card-header">
  <mat-card-title *ngIf="solicitation; else loading">Solicitação #{{ solicitation.id }}</mat-card-title>
  <ng-template #loading>
    <mat-card-title>Solicitação</mat-card-title>
  </ng-template>
  <button *ngIf="canAssignToUser" mat-raised-button class="card-header-actions" color="primary"
    (click)="onAssignToUser()">Atribuir para mim</button>
</div>

<div class="card-separator"></div>

<div class="solicitation-details" *ngIf="solicitation">
  <div class="solicitation-content">
    <h2>{{ solicitation.form.name }}</h2>
    <div class="solicitation-questions">
      <ng-container *ngFor="let answer of answers">
        <div class="solicitation-question-item" *ngIf="answer && answer.question">
          <div class="solicitation-question-item-title">{{ answer.question.text }}</div>
          <div class="solicitation-question-item-value">{{ answer.value }}</div>
        </div>
      </ng-container>
    </div>
    <div class="solicitation-separator"></div>
    <div class="solicitation-posts">
      <ng-container *ngFor="let post of posts">
        <div class="solicitation-post-item">
          <div class="solicitation-post-item-header">
            <div class="solicitation-post-item-profile">
              <div class="solicitation-post-item-profile-image">
                <img [src]="post.authorProfileImageUrl">
              </div>
              <div class="solicitation-post-item-profile-name">
                {{ post.author.name }}
              </div>
            </div>
            <div class="solicitation-post-item-date">
              <div class="solicitation-post-item-date-icon">
                <mat-icon>today</mat-icon>
              </div>
              {{ post.created_at }}
            </div>
          </div>
          <div class="solicitation-post-item-content">
            <p>{{ post.content }}</p>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="solicitation-separator"></div>
    <div class="solicitation-actions">
      <form (ngSubmit)="onSubmitPost()" [formGroup]="postForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Adicione um comentário</mat-label>
            <textarea matInput placeholder="Escreva aqui o conteúdo da sua mensagem"
              formControlName='content'></textarea>
          </mat-form-field>
        </div>
        <div class="form-footer">
          <div class="error-area">
            {{ errorMsg }}
          </div>
          <div class="action-area">
            <div class="submit-button">
              <button mat-raised-button color="primary" type="submit" [disabled]="!postForm.valid">
                Enviar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="solicitation-meta">
    <div class="solicitation-status">
      <div class="meta-item-title">Situação</div>
      <div class="meta-item-value">{{ solicitation.solved_at ? 'Resolvido' : 'Pendente' }}</div>
    </div>
    <div class="solicitation-author">
      <div class="meta-item-title">Autor</div>
      <div class="meta-item-value">
        <div class="meta-item-profile-image">
          <img [src]="authorImageUrl">
        </div>
        <div class="meta-item-profile-name">
          {{ author.name }}
        </div>
      </div>
    </div>
    <div class="solicitation-atendente">
      <div class="meta-item-title">Responsável</div>
      <div class="meta-item-value">
        <ng-container *ngIf="!responsible; else responsibleBlock">
          Não atribuído
        </ng-container>
        <ng-template #responsibleBlock>
          <div class="meta-item-profile-image">
            <img [src]="responsibleImageUrl">
          </div>
          <div class="meta-item-profile-name">
            {{ responsible.name }}
          </div>
        </ng-template>
      </div>
    </div>
    <div class="solicitation-criada">
      <div class="meta-item-title">Data de criação</div>
      <div class="meta-item-value">{{ solicitation.created_at }}</div>
    </div>
    <div class="solicitation-assigned" *ngIf="responsible">
      <div class="meta-item-title">Última atualização</div>
      <div class="meta-item-value">{{ solicitation.updated_at }}</div>
    </div>
  </div>
</div>
