<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Texto da pergunta</mat-label>
            <textarea matInput required placeholder="Escreva sua pergunta" formControlName='text'></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Tipo de reposta</mat-label>

            <mat-select #typeInput required formControlName='response_type_id'>
                <ng-container *ngFor="let typeGroup of types$ | async">
                    <mat-optgroup *ngIf="typeGroup.types?.length > 0" [label]="typeGroup.groupName">
                        <mat-option *ngFor="let type of typeGroup.types" [value]="type.id">
                            {{type.name}}
                        </mat-option>
                    </mat-optgroup>
                </ng-container>


            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
            Criar
        </button>
    </p>
</form>