/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*********** Form overrides ***********/

mat-form-field:not(.basic) {
  width: 100%;
}

label.mat-checkbox-layout {
  white-space: normal;
}

.flex-container {
  display: flex;
}

.flex-left {
  flex: left;
}

.flex-right {
  flex: right;
}

.card-header {
  display: flex;
}

.card-header .mat-card-title {
  flex: 1 1 auto;
}
