<div class="card-header">
  <mat-card-title>Perguntas disponíveis</mat-card-title>
  <a mat-raised-button class="card-header-actions" color="primary" routerLink="/forms/questions/new">Nova pergunta</a>
</div>

<ng-container *ngIf="questions$ | async as questions">

  <!-- User list -->
  <app-data-table [data]="questions" [columnNames]="columnNames" [pageSizeOptions]="[10, 50, 100]">

    <!-- Inner table component when a row is clicked -->
    <ng-template let-item>
      {{item| json}}
    </ng-template>
  </app-data-table>
</ng-container>