mat-form-field {
  width: 100%;
}

.logo {
  padding: 60px;
  text-align: center;
  color: whitesmoke;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
}

.action-area {
  display: flex;
  align-items: flex-end;
}

.login-error {
  color: red;
  text-align: left;
}

.login-button {
  text-align: right;
  flex-grow: 1;
}