mat-form-field {
  width: 100%;
}

mat-form-field > mat-button-toggle > mat-icon {
  margin: 0 -12px;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #1e254d;
}

.login {
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  padding: 60px;
  text-align: center;
  color: whitesmoke;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
}